bamtools
bcftools==1.8
bedops
bedtools
go=1.10.3
pbzip2
pigz
plink
samtools>=1.9
seqtk
squizz
sra-tools
ucsc-bedgraphtobigwig
ucsc-bigwigtobedgraph
ucsc-fatotwobit
ucsc-twobittofa
wiggletools>=1.2.2
sed
mawk
dsrc
sambamba
deeptools
