pytest
pytest-cov
pytest-xdist
pytest-mock
pytest-timeout
pytest-runner
pillow
sphinx
sphinx_rtd_theme
sphinx-gallery
numpydoc
coveralls

#for csv2tsv
pandas
xlrd
#for xls2csv
pyexcel
pyexcel-xls
#for ods2csv
pyexcel
pyexcel-ods