easydev
biosniff
colorlog
cython
deeptools
pandas
biopython>=1.70
mappy
matplotlib
networkx
pyyaml
pysam
openpyxl<=3.0.10
pyexcel
pyexcel-ods3
pyexcel-xls
pyexcel-xlsx
psutil
xlrd>2
pyBigWig
py2bit
statsmodels
tqdm
